.siderleft{
	width:460px;
	height:250px;
	float:left;
}
.siderleft .index{
	width:330px;
	height:350px;
	background-color:rgba(255,255,255,0.75);
	margin:50px 90px;
}
.container{
	width:1200px;
	height:870px;
	margin:0 auto;
}
.main{
	width:1200px;
	height:450px;
}
.headline{
	font-size:22px;
	text-align:center;
	padding:20px;
}
input[type="text"],input[type="submit"]{
	-web-kit-appearance:none;
	-moz-appearance:none;
	display:block;
	margin:0 auto;
	font-size:15px;
	width:240px;
}
input[type="text"]{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="submit"]{
	margin-top:25px;
	height:35px;
	background:#357eb8;
	color:#bcedff;
	font-weight:bold;
	font-size:16px;
}
input[type="submit"]:hover{
	background：#0e62a3;
	cursor:pointer;
}
.astyle{
	margin:5px 0 5px 42px;
	font-size:17px;
	color:#6a6f77;
}
.bstyle{
	display:block;
	float:left;
	margin-left:46px;
	font-size:15px;
}
.cstyle{
	display:block;
	float:right;
	margin-right:46px;
	font-size:15px;
}
.cstyle a{
	text-decration:none;
}
.footer_copyright{
	line-height:20px;
	text-align:center;
	width:960px;
	margin:0 auto;
	padding:10px 0 0 0;
	float:none;
	color:#8c8c8c;
}